@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Railway:300,400,700,900');

:root {
    --white: #fff;
    --primary-color: #ffd000;
    --bluish: #01020a;
    --grey: #9b9b9b;
    --overlay-color: rgba(24,39,51,0.85);
    --bg-transparent: rgba(250,250,250,.008);
    --transparent: transparent;
}

body {
    background-color: #d3d3d3;
    font-family: 'Railway', sans-serif;
    text-align: center;
}

.container {
    width: 95%;
    max-width: 60em;
    margin: 0 auto;
    box-sizing: border-box;
}

.folio {
    color: var(--primary-color);
    font-weight: 700;
}

/*********************************************************
    Typography
*********************************************************/
.title {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.5em;
    margin-top: 1em;
}

.title .directory {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

h2 {
    font-weight: 300;
    font-size: 1.75rem;
}

.section-header {
    max-width: 60%;
    margin: 0 auto;
    background-color: #232323;
    color: #d3d3d3;
    outline: 2px dashed var(--grey);
    outline-offset: -.3em;
    -webkit-box-shadow: 10px 10px 23px -4px rgba(247, 247, 247, 0.5);
    -moz-box-shadow: 10px 10px 23px -4px rgba(247, 247, 247, 0.5);
    box-shadow: 10px 10px 23px -4px rgba(247, 247, 247, 0.5);
}
/*********************************************************
    buttons
*********************************************************/
.button {
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 2px;
    border-style: solid;
    padding: .5em 1.75em;
}

.button-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
    transition: background 250ms ease-out;
}

.button-primary:hover
.button-primary:focus {
    /* background: ; */
    opacity: .75;
}
/*********************************************************
    Header
*********************************************************/
header {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1em;
    z-index: 5;
}

header .logo {
    height: 5em;
}

nav li {
    display: inline-block;
    margin: 1em .05em;
}

nav a {
    font-weight: 900;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .75em;
    color: var(--white);
}

nav a:hover, nav a:focus {
    color: var(--primary-color);
}

/*********************************************************
    Hero Section
*********************************************************/
.home-hero {
    background: var(--overlay-color);
    width: 100%;
    height: 100vh;
    padding: 10em 0;
    color: var(--white);
    position: relative;
}

.home-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home-hero .title {
    margin-bottom: 1em;
}

.title #my-name {
    font-weight: 300;
}

@media screen and (min-width: 60em) {
    .home-hero .title {
        margin: 3em;
    }
}

/*********************************************************
    About Section
*********************************************************/
.about {
     
}

.about-textbox {
    background-color: #232323;
    padding: 3em;
    padding-top: 4em;
    width: 100%;
    color: var(--white);
    outline: 2px solid var(--primary-color);
    outline-offset: -2em;
    position: relative;
}

.about-textbox .about-header {
    color: var(--primary-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.1em;
    background: #232323;
    font-size: 1.5em;
    padding: 0 .75em;
}

.about-textbox p {
    padding-bottom: 1em;
}

.about-textbox p:last-of-type {
    padding-bottom: 0;
}

@media screen and (min-width: 60em) {
    .about-header {
        font-size: 2rem;
    }

    .about {
        background-image: url('../img/tshepo.jpg');
        background-repeat: no-repeat;
        background-position: 80% 10%;

        margin-left: 5em;
        margin-right: 3em;
    }

    .about-textbox {
        width: 45%;
        text-align: left;
        box-shadow: 0 0 3em 0 rgba(0,0,0,.5);
        padding-top: 4.5em;
        -webkit-box-shadow: 10px 10px 23px -4px rgba(247, 247, 247, 0.5);
        -moz-box-shadow: 10px 10px 23px -4px rgba(247, 247, 247, 0.5);
        box-shadow: 10px 10px 23px -4px rgba(247, 247, 247, 0.5);
    }

    .about-textbox .about-header {
        top: .7em;
        left: 2.5rem;
        padding: 0 .5em;
        transform: translateX(0);
    }
}

/*********************************************************
    Skill Section
*********************************************************/
.skills {
    display: block;
    padding: 3em;
    color: #232323;
}

.skills .section-header {
    width: 100%;
    text-align: center;
    padding: .5em;
    margin-bottom: .75em;
    font-size: 1.5em;
    font-weight: 900;
}

.skills-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: center;
}

.skills-item {
    border-right: 2px solid var(--grey);
    padding: .75em;
}

.skills-item:last-of-type {
    border-right: none;
}

.skills-item .skill {
    margin-bottom: 1.5em;
}

.skills-item .skill:last-of-type {
    margin-bottom: 0;
}

.skills-item .skill img {
    height: 5em;
}

.skills-item .skill span {
    display: block;
    padding-top: .75em;
}

@media screen and (min-width: 50em) {
    .skills .section-header {
        font-size: 2.5em;
    }
}

/*********************************************************
    Projects Section
*********************************************************/
.portfolio {
    padding: 3.5em 0;
    background-color: #232323;
    color: var(--white);
}

.portfolio .section-header {
    width: 100%;
    margin: 0 auto;
    padding: .5em;
    margin-bottom: .75em;
    font-weight: 900;
}

.porfolio-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    width: 100%;
}

.porfolio-items .item {
    box-sizing: border-box;
}

.porfolio-items .item img{
    width: 100%;
    height: 100%;
}

.porfolio-items .item {
    max-height: 20em;
}

.porfolio-items .item img {
    box-sizing: border-box;
    max-height: 20em;
}

@media screen and (min-width: 50em) {
    .portfolio .section-header {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 60em) {
    .porfolio-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        width: 100%;
    }
}

/*********************************************************
    Contact Section
*********************************************************/
.contact {
    padding: 3em;
}

.contact .section-header {
    width: 100%;
    margin: 0 auto;
    padding: .45em;
    margin-bottom: .5em;
    font-weight: 900;
    text-align: center;
}

.contact .wrapper {
    display: grid;
}

.contact .wrapper .contact-details .details{
    margin-top: 1em;
}

span.icon img {
    width: 2.5em;
    padding: .5em;
}

.address {
    display: inline-flex;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 1em;
}

#address .icon {
    width: 1.5em;
    font-size: 1.5em;
}

.address p {
    text-align: left;
    font-weight: 700;
}

.phone {
    display: flex;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 1em;
}

.phone .icon {
    width: 1.5em;
    font-size: 1.3em;
}

.phone p {
    font-weight: 700;
}

.email {
    display: flex;
    text-align: left;
}

.email .icon {
    width: 1.5em;
    font-size: 1.2rem;
}

.email a{
    color: var(--bluish);
    font-weight: 300;
    transition: opacity 1s ease-in;
}

.email a:hover,
.email a:focus {
    opacity: .75;
    font-weight: 700;
}

/* .social {} */

.social ul {
    margin: 1em .25em;
    text-align: center;
}

.social ul li {
    display: inline-block;
    width: 2rem;
    padding: .25em;
    transition: width 150ms ease-in-out;
    opacity: .75; 
}

.social ul li:hover {
    width: 2.5em; 
    opacity: 1; 
}

/* CONTACT FORM */
/* .contact-form {} */

.contact-form .contact-title {
    margin: 0em .75em;
    margin-bottom: 1.2em;
}

.contact-form .form-group {
    display: grid;
}

.form-group  .part1 li,
.form-group .part2 li {
    display: block;
    border: 1px solid #919191;
    margin-bottom: 30px;
    border-radius: 3px;
}

.form-group  .part1 li > label,
.form-group .part2 li > label{
    display: block;
    float: left;
    margin-top: -.75em;
    margin-bottom: 1em;
    margin-left: .75em;
    background: #d3d3d3;
    padding: 2px 5px;
    color: #919191;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
    padding: .25em;
    color: #919191;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="tel"]:focus,
.form-group textarea:focus
{
}
.form-group li > span{
	background: #F3F3F3;
    display: block;
    padding: 3px;
    font-size: .75em;
    text-align: center;
    color: #aaaaaa;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.form-group textarea{
	resize:none;
}

.button-submit {
    height: 2.7em;
    border-radius: 3px;
    transition: opacity 250ms ease-out;
}

.button-submit:hover,
.button-submit:focus {
    color: var(--bluish) !important;
    opacity: .5;
}

/* .form-group input, .form-group textarea {
    width: 100%;
    padding: .75em;
    margin-bottom: 1.5em;
} */

.form-group textarea {
    height: 7.3em;
}

.form-group .button {
    display: block;
    padding: .2em;
    width: 100%;
    font-size: 1.3em;
}

.form-group .button:hover {
    color: var(--primary-color);
}

@media screen and (min-width: 50em) {
    .contact .section-header {
        font-size: 2.5em;
    }
}

@media screen and (min-width: 60em) {
    .contact .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1.5em;
        padding: 2em 0;
        text-align: left;
        color: var(--bluish);
    }

    .contact .wrapper .contact-details {
        border-right: 2px solid var(--grey);
    }

    .contact-form .form-group {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.25em;
        margin-top: 1em;
    }

    .social ul {
        margin: 1em .25em;
        text-align: center;
    }
    
    .social ul li {
        display: inline-block;
        width: 2.5rem;
        padding: .5em;
        transition: width 150ms ease-in-out;
        opacity: .75; 
    }
    
    .social ul li:hover {
        width: 3.5em; 
        opacity: 1; 
    }
}

/*********************************************************
    footer Section
*********************************************************/
footer {
    background-color: var(--bluish);
    color: var(--white);
    padding: 2em;
}
